.stack-work/
stack.yaml.lock
wabt/wabt/bin
asterius.cabal
ghc-toolkit.cabal
binaryen.cabal
wabt.cabal
wasm-toolkit.cabal
dist/
dist-newstyle/
site/
_build/
.idea/
node_modules/
*.dump-*
yarn.lock
package-lock.json
*.linked.txt
*.unlinked.bin
*.wasm-toolkit.txt

/test

/lib

cabal.project.local
.vscode
