constraints: aeson ==1.4.6.0,
             attoparsec ==0.13.2.3,
             base-compat ==0.11.0,
             base-orphans ==0.8.1,
             dlist ==0.8.0.7,
             hashable ==1.3.0.0,
             integer-logarithms ==1.0.3,
             primitive ==0.7.0.0,
             random ==1.1,
             scientific ==0.3.6.2,
             tagged ==0.8.6,
             th-abstraction ==0.3.1.0,
             time-compat ==1.9.2.2,
             unordered-containers ==0.2.10.0,
             uuid-types ==1.0.3,
             vector ==0.12.0.3
