# Ignore the build artefacts of tests to make sure we do not check them
# into the source tree accidentally.
*.mjs
*.o
*.wasm
*.hi
*.html
*.js
package.json
jsffi_stub.h

!/cloudflare/cloudflare.mjs
!/cloudflare/package.json
!/cloudflare/test.js
!/cloudflare-new/Worker.mjs
!/cloudflare-new/package.json
!/cloudflare-new/package-lock.json
!/cloudflare-new/webpack.config.js
!/jsffi/index.html
!/jsffi/jsffi.mjs
!/rtsapi/rtsapi.mjs
!/todomvc/index.html
